* {margin: 0; padding: 0;}
.clearfix {overflow: auto;}
a {text-decoration: none;}

.wrapper{
	margin: 0 auto;
	width: 1000px;
}

.topbar{
	width: 1000px;
	background: maroon;
}

.top-bar-links{
	float: left;
}

.top-bar-links ul{
	margin: 15px;
	list-style: none;
}

.top-bar-links ul li{
	display: inline-block;
	border-right: 1px solid white
}

.top-bar-links ul li:last-child {
	border: 0; 
}

.top-bar-links ul li a{
	color: white;
	padding: 0px 10px;

}

.site-search{
	padding: 3px 5px 3px 10px; 
	margin: 15px; 
	float: right;  
	background: white;
	border-radius: 10px;
}

.site-search input{
	border: 0;
	float: left;
}

.site-search button{
	width: 18px;
	height: 18px;
	background: url(../img/icons/search.png);
	border: none;
	float: right;
}

.logo {
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}

.logo h1{
	font-variant: small-caps;
	font-size: 38px;
	font-weight: bold;
	letter-spacing:-1px;
}

.socialmedia{
	float: right;
}

.socialmedia ul{
	list-style: none;
	margin-top: 30px;
}

.socialmedia ul li{
	display: inline;
}

.socialmedia ul li a{
	background: #444;
	color: #fff;
	padding: 6px;
	display: inline-block;
	border-radius: 22px;
}

.socialmedia ul li a:hover{
	background: orange;
}